@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user5\/work\/foundation\/styleguide\/scss\/foundation\/components\/_style\.scss}line{font-family:\0000314}}
.blk {
  width: 50px;
  height: 50px;
  float: left;
  margin: 20px 20px 0 0;
  border: 2px solid  #000;
  padding: 0.25em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user5\/work\/foundation\/styleguide\/scss\/foundation\/components\/_style\.scss}line{font-family:\0000323}}
.blk-primary-color {
  background-color: #2b2b2b;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user5\/work\/foundation\/styleguide\/scss\/foundation\/components\/_style\.scss}line{font-family:\0000326}}
.blk-primary-color-light {
  background-color: #5e5e5e;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user5\/work\/foundation\/styleguide\/scss\/foundation\/components\/_style\.scss}line{font-family:\0000329}}
.blk-primary-color-dark {
  background-color: black;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user5\/work\/foundation\/styleguide\/scss\/foundation\/components\/_style\.scss}line{font-family:\0000333}}
.blk-secondary-color {
  background-color: #cfcfcf;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user5\/work\/foundation\/styleguide\/scss\/foundation\/components\/_style\.scss}line{font-family:\0000336}}
.blk-secondary-color-light {
  background-color: white;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user5\/work\/foundation\/styleguide\/scss\/foundation\/components\/_style\.scss}line{font-family:\0000339}}
.blk-secondary-color-dark {
  background-color: #9c9c9c;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user5\/work\/foundation\/styleguide\/scss\/foundation\/components\/_style\.scss}line{font-family:\0000342}}
.blk-info-color {
  background-color: #4caed9;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user5\/work\/foundation\/styleguide\/scss\/foundation\/components\/_style\.scss}line{font-family:\0000345}}
.blk-warning-color {
  background-color: #f2994b;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user5\/work\/foundation\/styleguide\/scss\/foundation\/components\/_style\.scss}line{font-family:\0000349}}
.blk-alert-color {
  background-color: #a92906;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user5\/work\/foundation\/styleguide\/scss\/foundation\/components\/_style\.scss}line{font-family:\0000352}}
.blk-success-color {
  background-color: #7a9942;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user5\/work\/foundation\/styleguide\/scss\/foundation\/components\/_style\.scss}line{font-family:\0000355}}
.sg-font {
  font-size: 30px;
  line-height: 2em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user5\/work\/foundation\/styleguide\/scss\/foundation\/components\/_style\.scss}line{font-family:\0000359}}
.sg-font-primary {
  font-family: futuralight;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/user5\/work\/foundation\/styleguide\/scss\/foundation\/components\/_style\.scss}line{font-family:\0000362}}
.sg-font-secondary {
  font-family: "Helvetica Neue";
}
